.modal-body {
  .search-result {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .profiles {
    figure {
      cursor: pointer;
      margin-top: 20px;
      position: relative;

      .fa-heart {
        top: 35%;
        left: 35%;
        z-index: 999;
        color: #f44336;
        font-size: 48px;
        position: absolute;
        opacity: 0;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }

      img {
        width: 132px;
        height: 132px;
        -webkit-filter: grayscale(0) blur(0);
        filter: grayscale(0) blur(0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }

      &:hover {
        .fa-heart {
          opacity: 1;
          animation: heartbeat 1s infinite;
        }

        img {
          -webkit-filter: grayscale(100%) blur(3px);
          filter: grayscale(100%) blur(3px);
        }
      }
    }

    p {
      margin-bottom: 0;

      small {
        width: 100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        display: inline-block;
        padding: 10px 0;
      }
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(.75);
  }
  100% {
    transform: scale(.75);
  }
}
